<div>
  <div class="ml-3" *ngFor="let conversation of conversations?.conversations">
    <a class="chat-list" (click)="viewMessages(conversation[0], conversation.message[0].conversationId)">
      <div class="row">
        <div class="col-3 col-sm-auto col-md-auto p-2">
          <img class="img-fluid profile-img border" [src]="conversation[0].picture || defaultImg">
        </div>
        <div class="col-9 p-2">
          <span *ngIf="conversation.unreadCount" class="badge badge-primary badge-pill mr-2">{{ conversation.unreadCount }}</span>
          <p><b>{{ conversation[0].firstname | titlecase }} {{ conversation[0].lastname | titlecase }}</b></p>
          <p class="line-clamp text-primary">{{ conversation.message[0].body }}</p>
          <p class="text-secondary"><small>{{ conversation.message[0].createdAt | timePipe }}</small></p>
        </div>
      </div>
      <hr>
    </a>
  </div>
  <div class="mt-5">
    <div *ngIf="!conversations?.conversations"  class="text-center">
      <img class="image-responsive w-25 mt-5" src="assets/images/nochat.svg">
      <div>You have no chats</div>
      <button class="btn btn-outline-success" [routerLink]="['/chat/contacts']" routerLinkActive="router-link-active" >Begin Chat</button>
    </div>
  </div>
</div>

