<div>
  <div class="ml-3" *ngFor="let contact of contacts">
    <a (click)=checkConversation(contact)>
      <div class="row">
        <div class="col-3 col-sm-auto col-md-auto p-1">
          <img class="img-fluid profile-img border"  src="assets/images/img.png">
        </div>
        <div class="col-9 p-3">
          <p><b>{{ contact.firstname }} {{ contact.lastname }}</b></p>
          <p class="text-secondary">{{ contact.email }}</p>
        </div>
      </div>
      <hr>
    </a>
  </div>
</div>
<!-- <div>{{ contacts | json }}</div> -->
